.container{
    width:70%;
    margin: 2rem auto;
}

#checkButton{
    display: none;
}

#currentGuess,#resetButton{
    display: none;
}

#feedback{
    display: none;
}

.btn{
    border-radius: 5%;
}

th,td{
    text-align: center;
}
